*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
img
{
    width: 250px;
    height: 240px;
    border-radius: 17px;
    margin-top: 12px;
}
.main
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(180, 231, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    border-radius: 16px;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
    height: 420px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    gap: 12px;
}
#Heading{
   margin: 0rem 0rem 0rem 0.6rem;
}
#para
{
    margin: 0rem 0rem 0rem 0.6rem;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 540;
}